{% extends 'base.html' %}

{% block title %}預約詳情 | {{ room.num }}{% endblock %}

{% block body %}
<table class="table table-bordered">
    <tr>
        <td>開始時間</td>
        <td>結束時間</td>
        <td>預約人</td>
        <td>會議室</td>
        <td>簽到狀態</td>
        <td>操作</td>
    </tr>
    {% for i in order %}
    <tr>
        <td>{{ i.start_time }}</td>
        <td>{{ i.end_time }}</td>
        <td>{{ i.user }}</td>
        <td>{{ i.room }}</td>
        <td>{{ i.checkdig }}</td>
        <td>
            {% if i.user == request.user %}
            <a href="{% url 'dinosaur:delete' room.id i.id %}">取消</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="{% url 'dinosaur:add' room.id %}" class="btn btn-default" role="button">預約</a>
<p>*一次預約一小時喔*</p>
{% endblock %}
